<%- include("partials/header.ejs") %>

<div class="container_">
<p class="secrets">Questo è il mio nuovo segreto</p>
<form class="secretForm" action="/newSecret" method="post">
    <input type="text" placeholder="New secret!!!" name="newSecret" autocomplete="false" required>
    <button type="submit" >Add new secret</button>
</form>
</div>

<%- include("partials/footer.ejs") %>